{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Happy Marriage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'blog/img/logo-favicon.png' %}" type="image/gif" sizes="16x16">

        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="{% static 'blog/main.css'%}" rel="stylesheet">
    </head>
    <body>
        <header>
      <!---start topbar -->

      <div class="container">
        <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
                 <li class="nav-item">
                  <a class="nav-link diff " href="{% url 'profile' %}">Profile</a>
                </li>
                <div class="vl"></div>
                <li class="nav-item">
                  <a class="nav-link " href="{% url 'logout' %}">Logout</a>
                </li>
                <div class="vl"></div>

            {% else %}
                <li class="nav-item">
                <a class="nav-link diff " href="{% url 'login' %}">Sign in</a>
                </li>
                <div class="vl"></div>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Sign up</a>
                </li>
                <div class="vl"></div>
            {% endif %}
          </ul>     
  </div>
  <hr>    
      <!---end topbar -->

      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
<a class="navbar-brand" href="/">
<img class="logo" src="{% static 'blog/img/logo-light.png' %}" href="/">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav ">
<li class="nav-item ">
 <a class="nav-link " href="/">Home </a>
</li>
<li class="nav-item">
 <a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="/services">Services</a>
</li>
<li class="nav-item">
 <a class="nav-link" href="/feedback">Feedback</a>
</li>
<li class="nav-item active ">
    <a class="nav-link page-title" href="">Offers<span class="sr-only ">(current)</span></a>
   </li>
<li class="nav-item">
 <a class="nav-link btn btn-warning " href="/tryme">Try me</a>
</li>

</ul>
</div>
</div>
</nav>

        
    </header>

    <section class="below-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h1>Offers</h1>
                </div>
                <div class="col-lg-6">
                    <nav aria-label="breadcrumb col-md-6 col-sm-6">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Offers</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
    </section>

      <section class="feed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="feed-text">
                    <span class="line"></span>
                        <h3>Our Offers For Today</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Offer">
        <div class="container">
            <div class="row">
                <h2>Booking The Indoor Halls</h2>
                <div class="col-lg-6">
                    <div class="offer-img">
                        <img src="{% static 'blog/img/offer1.jpg' %}">
                    </div>
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="offer-text">
                        <h3>Offer Details</h3>
                        <p>1) Book Concard el Salam’s hall & get a free Zaffa</p>
                        <h5>Offer ID: O200</h5>
                        <p>2) Book one of our few remainig 2021 dates, Four  Season;s hall & get 30 free additional guests</p>
                        <h5>Offer ID: O300</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="Offer">
        <div class="container">
            <div class="row">
                <h2>Booking The makeup artist</h2>
                <div class="col-lg-6">
                    <div class="offer-img">
                        <img src="{% static 'blog/img/offer2.jpg' %}">
                    </div>
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="offer-text">
                        <h3>Offer Details</h3>
                        <p>1) Book an order in july with budget higher than 5000L.E and get
                            a free makeup fo the bride' sister or best friend</p>
                        <h5>Offer ID: O400</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="Offer">
        <div class="container">
            <div class="row">
                <h2>Booking The whole wedding package</h2>
                <div class="col-lg-6">
                    <div class="offer-img">
                        <img src="{% static 'blog/img/offer3.jpg' %}">
                    </div>
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="offer-text">
                        <h3>Offer Details</h3>
                        <p>1) Book the whole wedding package and get two free nights in 
                            the four seasin royal sweet</p>
                        <h5>Offer ID: O500</h5>
                        <p>2) Book the whole package and get 20% discount</p>
                        <h5>Offer ID: O600</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>

        <div class="container">
            <div class="row">
             <div class="col-lg-6">
                 <div class="footer-text">
                     <h4>About</h4>
                     <p >Our aim is to make your dreams </p>
                      <p class="another">About your wedding day come true</p>
                     </div>
             </div>
             <div class="col-lg-6">
                <h4>Contact us</h4>
                 <div class="footer-icons ">
                     <div class="row">
                        <img src="{% static 'blog/img/map.png' %}">
                        <img src="{% static 'blog/img/whatsapp.png' %}">
                        <img src="{% static 'blog/img/facebook.png' %}">
                        <img src="{% static 'blog/img/instagram.png' %}">
                     
                     </div>
                     </div>
             </div>
             </div>
             </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>    
</body>
    </html>